body {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: lightgray;
}

.canvas {
  margin-top: 50px;
  display: flex;
  border: 1px solid black;
  background-color: white;
}