body {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rosybrown;
}

.canvas-game {
  margin-top: 0px;
  display: flex;
  border: 1px solid black;
  background-image: url("/assets/startscreen.jpg");
  background-size: 1200px;
  background-position: 0 80%;
}